body{
    background-color: f5deb3 !important;

}
.navigation{
    height: 8em !important;
}
.container-fluid{
    background-color: #f5deb3;
}
.nav-link{
    color: black;
}
.home{
    height: 40em;
}
.myImage{
    width: 11em !important;
}
.nav-link a i{
    width: 3em !important;
    color: black !important;
}
.footer{
    bottom: 0;
    padding-bottom: 2em;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}